img{width: 100%;}
.bm{margin-top: 100px;}
.s1{background-color: rgb(136, 168, 168);}
.s2{background-color: rgb(106, 184, 145);}
.rp{padding-top: 30px;}
.cp{padding-top: 100px;padding-bottom: 100px;}