<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
    <h2>TODO</h2>
    <section>
    <form action="" method="POST">
        {% csrf_token %}

        <input type="text" placeholder="index" name="index">
        <input type="text" placeholder="add a task" name="task">
        <input type="submit" value="add">
    </form>
    </section>

<table style="width:100%" >
  {% for i in s%}
  <tr>
    <td>{{i.index}}</td>
    <td>{{i.task}}</td>
    <td>
        <input type="button" value="delete">
    </td>
    <td><a href="{% url 'delete' taskid=i.id %}"><button>Delete</button></a></td>
  </tr>
  {%endfor%}
  <!-- <tr>
    <td>2</td>
    <td>task2</td>
    <td>
        <input type="button" value="delete">
    </td>
    <td><input type="button" value="update"></td>
  </tr> -->
</table>

</body>
</html>